<div class="loginAdmin">
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <form ng-submit="login()" class="sign-in-form">
          <h2 class="title">Sign in</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input
              type="text"
              placeholder="Username"
              ng-model="data.Admin_Username"
            />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input
              type="password"
              placeholder="Password"
              ng-model="data.Admin_Password"
            />
          </div>
          <input type="submit" value="Login" class="btn solid" />
          <p class="social-text">Or Sign in with social platforms</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </form>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>Are you admin ?</h3>
          <p>
            <b> Welcome Admin!</b> We are thrilled to have you at our office.
            You're going to be a valuable asset to our company, and we can't
            wait to see all that you accomplish. The entire team of [name of the
            company] is thrilled to welcome you on board.
          </p>
          <a href="" class="btn transparent" id="sign-up-btn">GO Back</a>
        </div>
        <img src="views/assects/log.svg" class="image" alt="" />
      </div>
    </div>
  </div>
</div>
